    <!-- Navbar -->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid justify-content-start justify-content-sm-start">
                <button class="navbar-toggler d-lg-none me-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="/index.html">
                    <img src="/assets/images/b&gWhite.svg" width="40%" alt="bride and groom brand logo">
                </a>

                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#home">Home <span class="visually-hidden">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#service">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#testimonial">Testimonials</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- End Navbar -->
    <!-- Main Content -->
    <main class="container-fluid" id="home">
        <video src="/assets/images/HairSalonBroll.mp4" autoplay loop muted oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
        <div class="gradient"></div>
        <div class="hero justify-content-center text-center align-items-center">
            <img src="/assets/images/b&gWhite.svg" alt="bride and groom brand image" width="45%">
            <div class="row">
                <div class="col-12 text-white my-5">
                    <h3>Want to tranform your look and stand out of the crowd?</h3>
                    <p class="my-3">Well you are at right place! Book your appointment and lets make it happen.</p>
                </div>
                <div class="col-12 text-white my-3">
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#chatModal">Book Appointment</button>
                </div>

                <div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Bride&Groom's Assistive Chatbot</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <iframe width="350" height="430" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/259d3703-ad3a-4a4e-9a15-ae560d72c242"></iframe>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>

            </div>
        </div>
    </main>
    <!-- End Main Content -->
    <!-- Service Section -->
    <section class="container-fluid service" id="service">
        <header>
            <h1 class="text-center text-white">Our Services<span class="text-danger">.</span></h1>
        </header>
        <div class="content-wrap">
            <div class="row text-white" style="height: 100vh;">
                <div class="col-sm-4 bg-img-col">

                </div>
                <div class="col-sm-8 align-self-center text-center col-img-txt" style="margin-bottom: 10%;">
                    <!-- <h2>Hair Care.</h2>
                    <h2>Skin Care.</h2>
                    <h2>Body Care.</h2>
                    <h2>Bridal and Groom Makeover.</h2> -->
                    <ul class="list-unstyled list-animate">
                        <li class="h2">Hair Care<span class="text-danger">.</span></li>
                        <li class="h2">Skin Care<span class="text-danger">.</span></li>
                        <li class="h2">Body Care<span class="text-danger">.</span></li>
                        <li class="h2">Bridal <span class="text-danger">&</span> Groom Makeover<span class="text-danger">.</span></li>
                    </ul>
                </div>

            </div>
        </div>

    </section>

    <!-- End Service section -->
    <!-- About Section -->
    <section class="container-fluid about bg-dark bg-about" id="about">
        <header>
            <h1 class="text-center text-white">About Us<span class="text-danger">.</span></h1>
        </header>
        <div class="content-wrap">
            <div class="row" style="margin-top: 12%;">
                <div class="col text-start text-white">
                    <h3>From 1 salon to over 600 salons across India, all it took was one woman’s passion. This drove Naturals to become India’s No.1 hair and beauty salon. At Naturals, we believe in financial independence for women and have empowered 300+
                        women to become entrepreneurs in the past 16 years. Our dream is to create a housewife-free India, where women are encouraged to earn their living by pursuing their passion. By 2020, Naturals aims to create 1000 salons, empower
                        1000 women entrepreneurs and create 50,000 jobs, because there is no better style statement than standing on your own feet.</h3>
                </div>
            </div>

        </div>
    </section>
    <!-- End About Section -->
    <!-- Testimonial Sections -->
    <section class="container-fluid testimonial bg-dark bg-testimonial" id="testimonial">
        <header>
            <h1 class="text-center text-white">Testimonials<span class="text-danger">.</span></h1>
        </header>
        <div class="content-wrap">
            <div class="row">
                <div class="col text-start text-white">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus sed perspiciatis quos ad nam numquam earum animi est praesentium enim saepe tenetur, modi eius, repellat odio natus? Tempore, repellendus omnis? Lorem ipsum dolor
                        sit amet consectetur adipisicing elit. Laborum mollitia, sapiente quas totam maiores accusamus asperiores illum. Asperiores facilis, at placeat perspiciatis quidem, quibusdam, vero facere dolores voluptatem nam animi!</h3>
                </div>

            </div>
            <div class="row" style="margin-top: 10%;">
                <div class="col">
                    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active"></li>
                            <li data-bs-target="#carouselId" data-bs-slide-to="1"></li>
                            <li data-bs-target="#carouselId" data-bs-slide-to="2"></li>
                            <li data-bs-target="#carouselId" data-bs-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <img src="/assets/images/testmonial1.PNG" alt="First slide" class="img-fluid d-block m-auto">
                            </div>
                            <div class="carousel-item">
                                <img src="/assets/images/testimonail2.PNG" alt="Second slide" class="img-fluid d-block m-auto">
                            </div>
                            <div class="carousel-item">
                                <img src="/assets/images/testimonail3.PNG" alt="Third slide" class="img-fluid d-block m-auto">
                            </div>
                            <div class="carousel-item">
                                <img src="/assets/images/testimonail4.PNG" alt="Third slide" class="img-fluid d-block m-auto">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <!-- End Testimonial Sections -->
    <!-- Contact Sectio -->
    <section class="container-fluid contact bg-contact" id="contact">
        <header>
            <h1 class="text-center text-white">Contact Us<span class="text-danger">.</span></h1>
        </header>
        <div class="content-wrap">
            <div class="row" style="height: 80vh;">
                <div class="col-sm-8 text-white">
                    <h3>For appointments and queries please contact at below mentioned forms!</h3>
                    <div class="row mt-4">
                        <div class="col-sm-4 mt-2">
                            <button class="btn btn-light"> <i class="fa fa-phone" aria-hidden="true"></i> Phone</button>
                        </div>
                        <div class="col-sm-4 mt-2">
                            <button class="btn btn-light"> <i class="fa fa-instagram" aria-hidden="true"></i> Instagram</button>
                        </div>
                        <div class="col-sm-4 mt-2">
                            <button class="btn btn-light"> <i class="fa fa-facebook" aria-hidden="true"></i> Facebook</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-5 ms-5">
                            <iframe width="800" height="600" id="gmap_canvas" src="https://maps.google.com/maps?q=11.929391837018299,%2079.82904076897607&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4 bg-col-contact">

                </div>
            </div>
        </div>

        <!-- End Contact Section -->

        <!-- Bootstrap JS -->
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>